@import '../../constants.scss';

.scrollyteller {
  background-color: inherit;
  clip: rect(0, auto, auto, 0);
}

.state {
  margin: 0 0.05em;
  border: 0.125rem solid $color_Yes;
  padding: 0 0.2em;
  display: inline-block;
  background-color: $color_None;
  line-height: 1.25;
  white-space: nowrap;
  color: black;
}

.state[data-is-first-encounter]::after {
  content: ' (' attr(data-state) ')';
}

.state[data-main-allocation='#{$Allocation_Dem}'] {
  background-color: $color_Dem;
}

.state[data-main-allocation='#{$Allocation_LikelyDem}'] {
  background-color: $color_LikelyDem;
}

.state[data-main-allocation='#{$Allocation_Tossup}'] {
  background-color: $color_Tossup;
}

.state[data-main-allocation='#{$Allocation_LikelyGOP}'] {
  background-color: $color_LikelyGOP;
}

.state[data-main-allocation='#{$Allocation_GOP}'] {
  background-color: $color_GOP;
}

.state[data-relative-main-allocation='#{$Allocation_Dem}'] {
  border-color: $color_Dem;
}

.state[data-relative-main-allocation='#{$Allocation_GOP}'] {
  border-color: $color_GOP;
}

.state[data-main-allocation='#{$Allocation_Dem}'],
.state[data-main-allocation='#{$Allocation_GOP}'],
.state[data-main-allocation='#{$Allocation_Tossup}'] {
  color: $color_BG;
}

.state[data-main-allocation='#{$Allocation_Dem}'],
.state[data-main-allocation='#{$Allocation_GOP}'] {
  border-color: transparent;
}

/* Environment hacks */

[class*='u-richtext'][class*='u-richtext'] > h3 {
  padding-top: 2rem;
  font-family: 'ABCSerif', sans-serif;
  text-align: center;
}

[data-component='StickyHeader'] {
  display: none;
}
