@import '../../constants.scss';

.scrollyteller {
  background-color: inherit;
  clip: rect(0, auto, auto, 0);
}

/* Environment hacks */

[class*='u-richtext'][class*='u-richtext'] > h3 {
  padding-top: 2rem;
  font-family: 'ABCSerif', sans-serif;
  text-align: center;
}

[data-component='StickyHeader'] {
  display: none;
}
