@import '../../constants.scss';

.scrollyteller {
  background-color: inherit;
  clip: rect(0, auto, auto, 0);
}

.state {
  display: inline-flex;
  align-items: stretch;
  background-color: $color_None;
  white-space: nowrap;
  color: black;

  border-radius: 4px;
  font-family: ABCSans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  padding: 0.1em calc(6rem / 16) 0;
  height: 1.4em;
}

.state[data-is-first-encounter]::after {
  display: inline-block;
  content: ' ' attr(data-state);
  padding: 0 calc(6rem / 16);
  margin-left: calc(8rem / 16);
  margin-right: calc(-6rem / 16);
  margin-top: -0.1em;
  padding-top: 0.1em;
  box-shadow: -2px 0 white;
}

.state[data-main-allocation='#{$Allocation_Dem}'] {
  background-color: $color_Dem;
}

.state[data-main-allocation='#{$Allocation_LikelyDem}'] {
  background-color: #a0c3f3;
  color: #003e94;
}

.state[data-main-allocation='#{$Allocation_Unallocated}'] {
  background-color: #7a7a7a;
  color: white;
  &:after {
    box-sizing: border-box;
    color: #525252;
    background: #ebebeb;
    border-radius: 0px calc(4rem / 16) calc(4rem / 16) 0px;
    border: 2px solid #7a7a7a;

    line-height: calc(150% - 4px); /* 27px */
  }
}

.state[data-main-allocation='#{$Allocation_LikelyGOP}'] {
  background-color: $color_LikelyGOP;
}

.state[data-main-allocation='#{$Allocation_GOP}'] {
  background-color: $color_GOP;
}

.state[data-relative-main-allocation='#{$Allocation_Dem}'] {
  border-color: $color_Dem;
}

.state[data-relative-main-allocation='#{$Allocation_GOP}'] {
  border-color: $color_GOP;
}

.state[data-main-allocation='#{$Allocation_Dem}'],
.state[data-main-allocation='#{$Allocation_GOP}'],
.state[data-main-allocation='#{$Allocation_Unallocated}'] {
  color: $color_BG;
}

.state[data-main-allocation='#{$Allocation_Dem}'],
.state[data-main-allocation='#{$Allocation_GOP}'] {
  border-color: transparent;
}

/* Environment hacks */

[class*='u-richtext'][class*='u-richtext'] > h3 {
  padding-top: 2rem;
  font-family: 'ABCSerif', sans-serif;
  text-align: center;
}

[data-component='StickyHeader'] {
  display: none;
}
