@import '../../constants.scss';

.root {
  --trackHeight: 16px;
  --radius: 4px;
  --underBar: 0.5rem;
  --underNumbers: 0.375rem;

  --sideSize: 28px;
  --sideLabelSize: 16px;
  --midpointSize: 14px;

  --checkGap: 0.5rem;
  overflow: hidden;

  @media (min-width: 46.5rem) {
    --checkGap: 0.5rem;
    --trackHeight: 24px;
    --sideSize: 40px;
    --sideLabelSize: 24px;
    --midpointSize: 16px;
    --checkGap: 0.765625rem;
  }
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side {
  display: flex;
  align-items: baseline;
  text-align: center;
  font-family: ABCSans;
  font-size: var(--sideSize);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.84px;
  flex-direction: row-reverse;
}
.side + .side {
  flex-direction: row;
}
.sideLabel {
  font-size: var(--sideLabelSize);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: ABCSerif;
}

.side[data-allocation='#{$Allocation_GOP}'] {
  color: $color_GOP;
}

.side[data-allocation='#{$Allocation_Dem}'] {
  color: $color_Dem;
}

.midpointLabel {
  color: #575757;
  text-align: center;
  font-family: 'ABCSans';
  font-size: var(--midpointSize);
  font-style: normal;
  font-weight: 700;
  height: 2rem;
  margin-top: -2.3rem;
  margin-bottom: var(--underNumbers);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
}
.midpoint {
  &:after,
  &:before {
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    left: 50%;
    background: #575757;
  }
  &:before {
    height: calc(var(--trackHeight) + 10px);
    translate: 0 -7px;
  }
  &:after {
    z-index: 10;
    height: var(--trackHeight);
    translate: none;
    background: #999;
    mix-blend-mode: luminosity;
    translate: 0 0;
  }
}

.track {
  background: #ebebeb;
  border-radius: var(--radius);
  height: var(--trackHeight);
  position: relative;
  overflow: hidden;
  margin-bottom: var(--underBar);
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.root[data-consistent-incumbent] .bar {
  transition: transform $allocationTransitionDuration;
}

.bar[data-allocation='#{$Allocation_GOP}'] {
  background-color: $color_GOP;
}

.bar[data-allocation='#{$Allocation_Dem}'] {
  background-color: $color_Dem;
}

.bar[data-allocation='#{$Allocation_LikelyGOP}'] {
  background-color: $color_LikelyGOP;
}

.bar[data-allocation='#{$Allocation_LikelyDem}'] {
  background-color: $color_LikelyDem;
}

.winnerCheck {
  margin: 0 0.5rem;
  scale: 0.75;
  transform-origin: bottom center;

  @media (min-width: 46.5rem) {
    margin: 0 0.765625rem;
    scale: 1;
  }
}
