@import '../../constants.scss';

.root {
  --trackHeight: 1rem;
  --radius: 4px;
  --underBar: 15rem;
  --underNumbers: 0.5rem;

  --sideSize: 28px;
  --sideLabelSize: 16px;
  --midpointSize: 26px;

  overflow: hidden;

  @media (min-width: 46.5rem) {
    --checkGap: 0.5rem;
    --trackHeight: 24px;
    --sideSize: 40px;
    --sideLabelSize: 24px;
    --midpointSize: 16px;
  }
}

@mixin desktop {
  .text {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1.3rem;
  }
  .side {
    display: flex;
    align-items: baseline;
    text-align: center;
    font-family: ABCSans;
    font-size: var(--sideSize);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.84px;
    flex-direction: row-reverse;
  }
  .side + .side {
    flex-direction: row;
  }
  .sideLabel {
    font-size: var(--sideLabelSize);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: ABCSerif;
  }
  .winnerCheck {
    margin: 0 calc(8rem / 16);
    animation: fadeIn 0.3s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    transform-origin: center;
    transform: translateY(0.2rem);
  }
}

@mixin mobile {
  .text {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-bottom: -1.1rem;
  }
  .side {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    width: fit-content;
  }
  .side > * {
    display: flex;
    align-items: center;
  }
  .sideLabel {
    text-align: center;
    font-family: ABCSerif;
    font-size: calc(14rem / 16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-height: 1.8rem;
  }
  .sideValue {
    text-align: center;
    font-family: ABCSans;
    font-size: calc(24rem / 16);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    grid-column-start: 1;
    grid-row-start: 2;
    align-items: flex-start;
    margin-top: -0.1rem;
  }

  .winnerCheck {
    scale: 0.75;
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 0 0 0 calc(4rem / 16);
    animation: fadeIn 0.3s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

    @media (min-width: 46.5rem) {
      margin: 0 0.765625rem;
      scale: 1;
    }
  }

  .side + .side {
    margin-left: auto;
    text-align: right;
    & > * {
      justify-content: flex-end;
    }
    .sideLabel {
      grid-column-start: 2;
      grid-row-start: 1;
    }
    .sideValue {
      grid-column-start: 2;
      grid-row-start: 2;
    }
    .winnerCheck {
      grid-column-start: 1;
      grid-row-start: 1;
      margin: 0 calc(4rem / 16);
    }
  }
}

@container (max-width:590px) {
  @include mobile;
}
@container (min-width:590px) {
  @include desktop;
}
.winnerText {
  display: inline-flex;
  overflow: hidden;
  animation: winnerText 0.5s;
  width: 2.65em;
  transition: width 0.5s;
}
.WinnerTextInactive {
  width: 0;
}

.side[data-allocation='#{$Allocation_GOP}'] {
  color: var(--Republican-Called);
}

.side[data-allocation='#{$Allocation_Dem}'] {
  color: var(--Democrat-Called);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
  }
}
