@import '../../constants.scss';

.root {
  --trackHeight: 1rem;
  --radius: 4px;
  --underBar: 15rem;
  --underNumbers: 0.5rem;

  --sideSize: 28px;
  --sideLabelSize: 16px;
  --midpointSize: 26px;

  overflow: hidden;

  @media (min-width: 46.5rem) {
    --checkGap: 0.5rem;
    --trackHeight: 24px;
    --sideSize: 40px;
    --sideLabelSize: 24px;
    --midpointSize: 16px;
  }
}

.text {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin-bottom: -1.5rem;
}
.side {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  width: fit-content;
}
.side > * {
  display: flex;
  align-items: center;
}
.sideLabel {
  text-align: center;
  font-family: ABCSerif;
  font-size: calc(14rem / 16);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  min-height: 1.8rem;
}
.sideValue {
  text-align: center;
  font-family: ABCSans;
  font-size: calc(24rem / 16);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  grid-column-start: 1;
  grid-row-start: 2;
  align-items: flex-start;
  margin-top: -0.4rem;
}

.winnerCheck {
  scale: 0.75;
  transform-origin: bottom center;
  grid-column-start: 2;
  grid-row-start: 1;
  margin: 0 0 0 calc(4rem / 16);
  animation: fadeIn 0.3s;
  transform-origin: center;

  @media (min-width: 46.5rem) {
    margin: 0 0.765625rem;
    scale: 1;
  }
}

.side + .side {
  margin-left: auto;
  text-align: right;
  & > * {
    justify-content: flex-end;
  }
  .sideLabel {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .sideValue {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .winnerCheck {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0 calc(4rem / 16);
  }
}

.side[data-allocation='#{$Allocation_GOP}'] {
  color: var(--Republican-Called);
}

.side[data-allocation='#{$Allocation_Dem}'] {
  color: var(--Democrat-Called);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
  }
}
