.root {
  position: absolute;
  left: 10px;
  top: 10px;
  background: white;
  color: black;
  border: 4px solid #888;
  padding: 1em;
  z-index: 100;
  text-decoration: none;
  border-radius: 0.5rem;
  font-family: ABCSans;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.1s all;
}

.root:hover,
.root:focus-visible {
  animation: linear rainbow-animation 5s infinite;
}

.root:active {
  background: #e0e0e0;
}

@keyframes rainbow-animation {
  0% {
    border-color: red;
  }
  20% {
    border-color: orange;
  }
  40% {
    border-color: yellow;
  }
  60% {
    border-color: limegreen;
  }
  80% {
    border-color: cyan;
  }
  100% {
    border-color: red;
  }
}
