@import '../../../constants.scss';
.root {
  transition: opacity 1s;
}
.root-hidden {
  opacity: 0;
}

.state {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  transition: all 1s;
}

.state-allocation-u {
  stroke: #7a7a7a;
}

.state-defocused {
  stroke: white !important;
}
.state-focused {
  stroke-width: 2px;

  &.state-allocation-n {
    stroke: black;
  }
}

.state-allocation-n {
  stroke: #000;
  stroke-width: 2px;
}

@keyframes flip {
  50% {
    transform: scaleX(0);
  }
}
