@import '../../../constants.scss';
.root {
  transition: opacity 1s;
}
.root-hidden {
  opacity: 0;
}
.hex {
  transition: fill 0.2s;
  //  Make the hexes slightly larger so they fill the gaps a little more
  scale: 1.02;
  animation: flip 1s;
}
.hex-borders {
  stroke: #9894941a !important;
}

.allocation-r {
  fill: #{$color_GOP};
}

.allocation-e {
  fill: #{$color_LikelyGOP};
}

.allocation-d {
  fill: #{$color_Dem};
}

.allocation-s {
  fill: #{$color_LikelyDem};
}

.allocation-u {
  fill: #{$color_Tossup};
}

.allocation-n {
  fill: white;
}

.defocused {
  opacity: 0.05 !important;
}

.state {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  transition: stroke-width 0.2s;
}

.state-hidden {
  opacity: 0;
}
.state-focused {
  stroke-width: 2px;
  stroke: black;
}

.state-allocation-n {
  stroke: #989494;
}

@keyframes flip {
  50% {
    transform: scaleX(0);
  }
}
