@import '../../../constants.scss';
.label,
.label-outline {
  fill: black;
  stroke: none;
  text-anchor: middle;
  font-size: 1rem;
  z-index: 2;
  // pointer-events: none;
  transition: all 1s;
  font-family: 'ABCSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
  transition: transform 0.5s;
  @media (max-width: 667px) {
    translate: 0 0.25rem;
    font-size: 1.5rem;
  }
}

.label--r,
.label--d {
  fill: white;
}
.label--u {
  fill: #575757;
}
.label-s {
  fill: #003e94;
}
.label--e {
  fill: #6b0002;
}

.label-outline {
  stroke: transparent;
  stroke-opacity: 0.5;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.label-outline--r {
  stroke: #{$color_GOP};
}
.label-outline--d {
  stroke: #{$color_Dem};
}
.label-outline--u {
  stroke: #{$color_Unallocated};
}
.label-outline--e {
  stroke: #{$color_LikelyGOP};
}
.label-outline--s {
  stroke: #{$color_LikelyDem};
}

.hidden {
  opacity: 0;
}
