@import '../../../constants.scss';
.label,
.label-outline {
  fill: black;
  stroke: none;
  text-anchor: middle;
  font-size: 1rem;
  z-index: 2;
  pointer-events: none;
  transition: all 1s;
  font-family: 'ABCSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
  transition: transform 0.5s;
  @media (max-width: 667px) {
    translate: 0 0.25rem;
    font-size: 1.5rem;
  }
}

.label--r,
.label--d {
  fill: white;
}

.label--n {
  fill: var(--Secondary-labels);
}
.label--r {
  fill: white;
}
.label--d {
  fill: white;
}
.label--u {
  fill: var(--Stroke-De-emphasis);
}
.label--s {
  fill: var(--Democrat-Label-Supp);
}
.label--e {
  fill: var(--Republican-Label-Supp);
}

.label-outline {
  stroke: white;
  stroke-opacity: 0.5;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.label-outline--r {
  stroke: var(--Republican-Called);
}
.label-outline--d {
  stroke: var(--Democrat-Called);
}
.label-outline--u {
  stroke: var(--Stroke-De-emphasis);
}
.label-outline--e {
  stroke: var(--Republican-Likely);
}
.label-outline--s {
  stroke: var(--Democrat-Likely);
}

.hidden {
  opacity: 0;
}
