@import '../../constants.scss';

.root {
  margin: 0 auto 2rem;
  container-type: inline-size;
  margin: 0 var(--od-space-md, calc(24rem / 16));
  @media (min-width: 62rem) {
    margin: 0 calc(48rem / 16);
  }
}

.description {
  display: flex;
  align-items: center;
  gap: calc(12rem / 16);
  :global(path) {
    fill: var(--Secondary-labels);
  }
  :global(svg) {
    min-width: 20px;
  }
  &.desktop-only {
    margin-bottom: calc(32rem / 16);
  }
}

.instructions {
  color: var(--Secondary-labels, #525252);
  font-family: ABCSans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}
.centre {
  text-align: center;
}
.instructions__mobile-bottom {
  margin: calc(32rem / 16) 0 1rem;
}
.description__mobile-inside {
  margin: calc(28rem / 16) 0 0.5rem;
}
.desktop-only .instructions {
  margin-top: 1rem;
}

.semantic {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .containerA {
    position: relative;
  }
  @media (width >= 62rem) {
    flex-direction: row-reverse;
    justify-content: stretch;
    gap: calc(80rem / 16);
    max-width: calc(calc(457rem / 16) + max(600rem/16, min(90vh, 90vw)));
    .containerA {
      flex: 1;
    }
    .containerB {
      max-width: min(35%, calc(384rem / 16));
      min-width: 18.563rem;
    }
  }
}

.mobile-only {
  @media (width >= 62rem) {
    display: none;
  }
}
.desktop-only {
  @media (width < 62rem) {
    display: none;
  }
}

.reset-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: ABCSans;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: calc(14rem / 16);
  font-weight: 400;
  line-height: calc(18.9rem / 16);
  text-align: left;
  z-index: 10;
  color: var(--Secondary-labels);
  transition: opacity 0.5s;
  border-radius: 0.75rem;
  padding: 1rem;

  &:hover,
  &:focus-visible {
    outline: 2px solid var(--Stroke-De-emphasis);
  }

  @media (width >= 62rem) {
    font-size: calc(18rem / 16);
    line-height: calc(24.3rem / 16);
  }
}
.reset-button__visible {
  opacity: 1;
}

.reset-button__hidden {
  opacity: 0;
}
