@import '../../constants.scss';

.root {
  margin: 0 auto;
  aspect-ratio: 10/8.8;
  height: 100%;
  width: unset;

  @container (max-aspect-ratio:10/8.8) {
    width: 100%;
    height: auto;
  }
}

[data-mount][id^='ecgraphic']:global(.u-pull) > .root {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 59.5rem;
}

@media (min-width: 668px) {
  [data-mount][id^='ecgraphic']:global(.u-pull) > .root {
    padding: 0;
    max-width: 57.5rem;
  }
}

[data-mount][id^='ecgraphic']:not(:global(.u-pull)) > .root {
  border: 0.0625rem solid $color_Grey;
  background-color: $color_BG;
  padding: 0.5rem;
}

@media (min-width: 668px) {
  [data-mount][id^='ecgraphic']:not(:global(.u-pull)) > .root {
    padding: 1rem;
  }
}

.header {
  margin-bottom: 0.5rem;
  opacity: 0;
  transition: opacity 0.25s;
}

@media (min-width: 668px) {
  .header {
    margin-bottom: 1rem;
  }
}

.header[data-is-counting] {
  opacity: 1;
}
